body {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.App {
  text-align: left;
  background-color: #394046;
}
table {
  font-size: 0.7rem;
}

header {
  color: white;
}
header article {
  background-image:url('assets/background-stock.jpg');
  opacity: 0.2;
  background-position: center;
  background-size: cover;
}

.hero {
  background-color: lavender;
  color: pink;
}



